@import "tailwindcss";
@import "@flaticon/flaticon-uicons/css/all/all";

@theme {
  --size-aboutImg: clamp(20rem, 50vw, 50rem);
  --size-homeImg: clamp(35rem, 65vw, 90rem);
  --size-workImg: clamp(100vw, 50rem, 100vh);
  --text-title: clamp(1rem, 11vw, 12rem);
  --text-body: clamp(1rem, 1.1vw, 1.2rem);
  --text-contact: clamp(0.8rem, 1vw, 1rem);
  --text-heading1: clamp(2rem, 3.5vw, 4rem);
  --text-heading2: clamp(1.25rem, 2vw, 2rem);
  --text-heading3: clamp(1rem, 1.5vw, 1.5rem);

  --mb-home: clamp(1rem, 5vw, 5rem);
  --mt-border: clamp(2rem, 10vw, 10rem);

  --bg-contact: oklch(0.18 0 0);
  --breakpoint-xm: 52rem;
}

:root {
  font-family: "Lato", sans-serif;
}

body {
  background-color: #1a1a1a;
  background-image: url("./assets/canvasTex.jpg");
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
